{% extends 'appdesafio4/base.html' %}

{% block content %}
<h1 class="text-center my-4" id="title">Personagens de Avatar the last airbender</h1>

<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
  {% for c in cards %}
    <div class="col">
      <div class="card h-100 shadow-sm" id="igrid">
        <div class="card-body">
          <h5 class="card-title">ID: {{ c.id }}</h5>
          <p class="card-text">
            <strong>Nome:</strong> {{ c.nome }}<br>
            <strong>Afiliação:</strong> {{ c.afiliacao }}<br>
            <strong>Aliados:</strong> {{ c.aliados|default:"Nenhum" }}<br>
            <strong>Inimigos:</strong> {{ c.inimigos|default:"Nenhum" }}
          </p>
        </div>
      </div>
    </div>
  {% endfor %}
</div>
{% endblock %}
